apache-airflow==2.8.0
apache-airflow-providers-common-sql==1.9.0
apache-airflow-providers-ftp==3.7.0
apache-airflow-providers-http==4.8.0
apache-airflow-providers-imap==3.5.0
apache-airflow-providers-sqlite==3.6.0
dbt==1.0.0.35.1
dbt-core==1.7.4
dbt-extractor==0.5.1
dbt-postgres==1.7.4
dbt-semantic-interfaces==0.4.2
psycopg2-binary==2.9.9
redash
